body {
    margin: 0rem;
    font-family: "Open Sans";
}
section {
    background-color: #212C3A;
    border: 5px solid red;
    color: #f4f4f9;
}


#introMain {
    background-image: url("./assets/intro-backgrounds-desktop.svg");
    background-size: cover;
    background-position: 0% 0%;
    color: #f4f4f9;
    /*min-height: 100vh;*/
}

#contactIcons{
    width: 7%;
}

/*#ScrollIcon{*/
/*    width: 7%!important;*/
/*}*/


.imageHover:hover{
    opacity: .5;
    transition: .5s;
}

@media screen and (max-width:991px){
    #ScrollIcon{
        display:none;
    }
}

/*#experiencePrimary{*/
/*    min-height: 60vh !important;*/
/*    align-items: center!important;*/
/*    display: inline-flex!important;*/
/*}*/