@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,700;1,300;1,400&display=swap');


:root {
    /*colors*/
    --darkBlue: #212C3A;
    --offWhite: #F3F4FA;
    --lightBlue: #10A6E0;
    --redish: #EE2658;
    --yellowish: #FAA62E;
/*font weights*/
    --fw-normal: 300;
    --fw-bold: 700;
}

body {
    margin: 0;
    background-color: var(--darkBlue);
    color: var(--offWhite);
}

h1 {
    font-family: 'Anton', sans-serif;
    font-size: 400%;
}

h2 {
    font-family: 'Anton', sans-serif;
}

h3, h4 {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: var(--fw-bold)
}

p {font-family: 'Roboto Condensed', sans-serif; font-weight: var(--fw-normal)}


#introMain {
    background-image: url("./assets/intro-backgrounds-desktop.svg");
    background-size: cover;
    background-position: 0 0;
}

#contactIcons{
    width: 10rem;
}

@media screen and (max-width:991px){
    #ScrollIcon{
        display:none;
    }
}


/*lightbox*/
.portfolio_content_lightbox{
    width: 90vw;
    margin: auto;
    position: relative;
}

.portfolio_lightbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, .5);
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    transition: transform ease-in-out 300ms;
}


.portfolio_lightbox:target{
    transform: scale(1,1);
}


.lightbox-close {
    position: absolute;
    width: 2em;
    height: 2em;
    background: var(--lightBlue);
    color: var(--offWhite);
    top: -2em;
    right: -2em;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}


/*hover effect over project highlight modules*/
.portfolio_item{
    position: relative;
}

.portfolio_item:hover img{
    opacity: .5;
    transition: .5s;
    transform: scale(1.05);
}
