body {
    margin: 0rem;
    font-family: "Open Sans";
}
section {
    background-color: #212C3A;
    /*min-height: 75vh;*/
    border: 5px solid red;
    color: #f4f4f9;
}


#introMain {
    background-image: url("./assets/intro-backgrounds-desktop.svg");
    background-size: cover;
    background-position: 0% 0%;
    color: #f4f4f9;
}

#Resume{
    border: 2px solid green;
}

#TechStack{
    border: 2px solid blue;
}



@media screen and (max-width:991px){
    #ScrollIcon{
        display:none;
    }

}

/*#experiencePrimary{*/
/*    min-height: 60vh !important;*/
/*    align-items: center!important;*/
/*    display: inline-flex!important;*/
/*}*/